*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}    

/* CSS Header e lementi interni  */

header {
    position: fixed;
    background-color: #FF6900;
    width: 100vw;
    z-index: 1;
}

.flex {
    display: flex;
}

.rltv{
    position: relative;
}

.centering{
    width: 80%;
    margin: auto;
}

.header-container {
     justify-content: space-around;
     align-items: center;
}

.header-container a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.header-container a:hover{
    text-decoration: underline;
}

.header-container img{
    width: 100px;
    height: 25px;
}

.fa-heart, .fa-user-tie-hair, .fa-briefcase-blank {
    font-size: 40px;
    color: white;
}

/* fine CSS lementi interni */

.main-container {
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;
}
/* inizio hover sulle img */

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6  {
    height: 500px;
    width: 30%;
}

.foto1 img, .foto2 img, .foto3 img, .foto4 img, .foto5 img, .foto6 img {
    height: 100%;
    width: 100%;
}

.foto1:hover .fotoB, .foto2:hover .fotoB, .foto3:hover .fotoB, .foto4:hover .fotoB, .foto5:hover .fotoB, .foto6:hover .fotoB {
    display: block;
}

.fotoA{
    display: block;
    position: absolute;
}

.fotoB {
    display: none;
    position: absolute;
}

/* fine hover sulle img */

.foto4, .foto5, .foto6 {
    padding-top: 60px;
}  

.main-container .heart{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
}

.main-container .heartB{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 68px;
    right: 0;
    text-align: center;
}

.heart span , .heartB span  {
    font-size: 30px;
    color: black;
}

.main-container .heart span:hover, .main-container .heartB span:hover{
    color: red;
}

.discount {
    background-color: red;
    padding: 5px;
    color: white;
    display: inline-block;
}

.sustainability {
    background-color: green;
    padding: 5px;
    color: white;
    display: inline-block;
}

.position {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.description {
    position: absolute;
    bottom: -54px;
    left: 0;
}

.descriptionB {
    position: absolute;
    bottom: -113px;
    left: 0;
}


.grey{
    color: grey;
}

.red{
    color: red;
}

.top-line{
    text-decoration: line-through;
}

/* CSS footer */

footer{
    background-color: #000000;
    margin-top: 125px;
    height: 10vh;
}

.footer-container {
    justify-content: space-between;
    align-items: center;
}

footer h4, span, h5 {
    color: white;
}

footer span {
    padding-right: 5px;
}