*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}    

/* CSS Header e lementi interni  */

header {
    position: fixed;
    background-color: #FF6900;
    width: 100vw;
}

.flex {
    display: flex;
}

.rltv{
    position: relative;
}

.centering{
    width: 80%;
    margin: auto;
}

.header-container {
     justify-content: space-around;
     align-items: center;
}

.header-container a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.header-container a:hover{
    text-decoration: underline;
}

.header-container img{
    width: 100px;
    height: 25px;
}

.fa-heart, .fa-user-tie-hair, .fa-briefcase-blank {
    font-size: 40px;
    color: white;
}

/* fine CSS lementi interni */

.main-container {
    justify-content: space-between;
    padding-top: 60px;
}

.foto1, .foto2, .foto3 {
    height: 500px;
}

.foto1 img, .foto2 img, .foto3 img {
    height: 100%;
}

.fotoB {
    display: none;
}

.main-container .fotoA:hover {
    display: none;
}

.main-container .fotoB:hover {
    display: block;
}

.heart{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
}

.heart span {
    font-size: 30px;
    color: black;
}

.main-container .heart span:hover{
    color: red;
}

